---
layout: default
---
<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      
      {% if page.tags %} • 
        {% for tag in page.tags %}
          <a class="post-tag" href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      {% endif %}
      
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="post-meta">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- if page.last_updated -%}
        <time class="dt-updated" datetime="{{ page.last_updated | date_to_xmlschema }}" itemprop="dateModified">
          Last Updated: {{ page.last_updated | date: date_format }}
        </time>
   {%- endif -%}
  </p>

    {% include prev_next.html
        prev_url=page.previous.url
        prev_text=page.previous.title
        next_url=page.next.url
        next_text=page.next.title
    %}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
